<div class="sidebar-content-wrapper">
  <div class="tab-header">
    <button mat-icon-button (click)="setTab('servers')" [class.active]="activeTab === 'servers'">
      <mat-icon>dvr</mat-icon>
    </button>
    <app-pill text="MCP Server"></app-pill>
  </div>

  <div>
    @switch (activeTab) {
      @case ('chat') {
        <div class="new-chat-container">
          <button mat-button (click)="newChat()">
            <mat-icon>add</mat-icon>
            <span>New Chat</span>
          </button>
        </div>
        <h3 class="sidebar-header">Recent</h3>
        <app-chat-history></app-chat-history>
      }
      @case ('servers') {
        <div class="new-chat-container">
          <button mat-button (click)="setTab('chat')">
            <mat-icon>check</mat-icon>
            Done
          </button>
        </div>
        <h3 class="sidebar-header">MCP Servers</h3>
        <div class="sidebar-section">
          <app-server-list></app-server-list>
        </div>
      }
    }
  </div>
</div>