<div class="chat-area-material-wrapper"> <!-- Wrapper for overall chat area -->
    <div class="chat-header-content">
        <span class="m-auto">
            {{ totalTokensUsed | number:'1.0-0' }}k
        </span>
        <mat-progress-bar mode="determinate" [value]="(totalTokensUsed / inputTokenLimit) * 100"></mat-progress-bar>
        <span>{{ inputTokenLimit | number:'1.0-0' }}k</span>
        <mat-chip-listbox>
            <mat-chip>{{ totalCost | currency:'USD':'symbol':'1.2-2' }}</mat-chip>
        </mat-chip-listbox>
    </div>

    <div id="chat-messages-material" class="chat-messages-container">
        <!-- Messages will appear here, eventually using *ngFor with app-chat-message -->
        <app-chat-message *ngFor="let message of messages"
                          [message]="message"
                          [attr.data-test-id]="message.id"
                          (toolResponse)="handleToolResponse($event)"></app-chat-message>
    </div>

    <app-chat-input (messageSent)="handleMessageSent($event)"></app-chat-input>
</div>