<h2 mat-dialog-title>{{ data.tool.name }}</h2>
<mat-dialog-content>
  <p><strong>Description:</strong></p>
  <p>{{ data.tool.description }}</p>

  @if (schemaError) {
    <div class="error-message">
      {{ schemaError }}
    </div>
  }

  @if (!schemaError) {
    <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Call Tool</button>
    </form>
  }

  @if (toolResultFormatted) {
    <div>
      <p><strong>Result:</strong></p>
      <pre class="result-pre"><code>{{ toolResultFormatted }}</code></pre>
    </div>
  }

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Close</button>
</mat-dialog-actions>