<div class="sidebar-content-wrapper">
    <div class="tab-header">
        <button mat-icon-button (click)="setTab('new')" [class.active]="activeTab === 'new'">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="setTab('servers')" [class.active]="activeTab === 'servers'">
            <mat-icon>dvr</mat-icon>
        </button>
    </div>

    <div [ngSwitch]="activeTab">
        <div *ngSwitchCase="'new'"></div>

        <div *ngSwitchCase="'servers'">
            <div class="sidebar-footer-material done-button-container">
                <button mat-stroked-button (click)="setTab('new')">
                    Done
                </button>
            </div>
            <mat-toolbar class="sidebar-toolbar">
                <span>MCP Servers</span>
            </mat-toolbar>
            <div class="sidebar-section">
                <app-server-list></app-server-list>
            </div>
        </div>
    </div>
</div>