<mat-card-content>
  <details class="message-details-material" [open]="!!message.showRequestedTools">
    <summary class="message-summary">
      <mat-icon class="tw:m-auto">build</mat-icon>
      <span class="tw:m-auto">Tool Call Request</span>
      @if (message.usageMetadata) {
        <app-usage-metadata-display
          [usageMetadata]="message.usageMetadata"
          [cost]="message.model.calculatePrice(message.usageMetadata!)"
        ></app-usage-metadata-display>
      }
    </summary>
    <div class="message-details-content-material">
      <div class="tool-request-container" [style.overflow-wrap]="'break-word'">
        @for (toolCall of message.tools; track toolCall) {
          <div class="tool-call-details">
            <strong>Tool:</strong> {{ toolCall.name }}<br>
            <strong>Arguments:</strong>
            <pre>{{ toolCall.args | json }}</pre>
          </div>
        }
        <div class="tool-request-actions">
          <button mat-button color="primary" (click)="onToolResponse(true)">Allow</button>
          <button mat-button color="warn" (click)="onToolResponse(false)">Deny</button>
        </div>
      </div>
    </div>
  </details>
</mat-card-content>


