<div class="title-bar">
  <app-workspace class="tw:w-full"></app-workspace>
</div>

<mat-sidenav-container class="container sidenav" autosize="true">
  <mat-sidenav mode="side" opened class="sidebar-container">
    <div
      class="resize-handle"
      (mousedown)="startResizing($event)"
      >
    </div>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  @if (showChatArea) {
    <mat-sidenav-content class="chat-area-container">
      <app-chat-area></app-chat-area>
    </mat-sidenav-content>
  }
</mat-sidenav-container>
