
@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #001f25,
    20: #00363f,
    25: #00424e,
    30: #004e5a,
    35: #005a67,
    40: #006774,
    50: #008393,
    60: #00a0b3,
    70: #3dbcd2,
    80: #58d8ee,
    90: #7af4ff,
    95: #beffff,
    98: #e6ffff,
    99: #f3feff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #0f1e22,
    20: #243338,
    25: #2f3e43,
    30: #3a4a4f,
    35: #46565b,
    40: #526268,
    50: #6a7b81,
    60: #84959b,
    70: #9fb0b6,
    80: #b9cbd1,
    90: #d5e7ed,
    95: #e4f5fb,
    98: #f1feff,
    99: #f7feff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #001e2a,
    20: #003447,
    25: #004055,
    30: #004c64,
    35: #005874,
    40: #006584,
    50: #007fa4,
    60: #009ac5,
    70: #2bb5e4,
    80: #4ccfff,
    90: #8de9ff,
    95: #cbf6ff,
    98: #eafcff,
    99: #f5feff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #191c1d,
    20: #2e3132,
    25: #393c3d,
    30: #444748,
    35: #505354,
    40: #5c5f60,
    50: #757778,
    60: #8e9192,
    70: #a9acac,
    80: #c4c7c7,
    90: #e1e3e3,
    95: #eff1f1,
    98: #f8fafb,
    99: #fbfcfc,
    100: #ffffff,
    4: #0b0f10,
    6: #101415,
    12: #1d2021,
    17: #282b2c,
    22: #323536,
    24: #373a3b,
    87: #dbe0e0,
    92: #e7eaea,
    94: #edeff0,
    96: #f3f5f5,
  ),
  neutral-variant: (
    0: #000000,
    10: #161d1f,
    20: #2b3234,
    25: #363d3f,
    30: #42484a,
    35: #4e5456,
    40: #5a6062,
    50: #72787a,
    60: #8c9294,
    70: #a7adaf,
    80: #c2c8ca,
    90: #dee4e6,
    95: #edf2f5,
    98: #f6fbfe,
    99: #f9feff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);
  
$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);