<div class="message-wrapper-material" [ngClass]="message?.sender">
    <mat-card [ngClass]="{
    'user-message-card': message?.sender === 'user',
    'ai-message-card': message?.sender === 'ai',
    'system-message-card': isSystemMessage()
  }">
        <!-- System Message / Tool Status -->
        <mat-card-content *ngIf="isSystemMessage()">
            <details class="message-details-material" [open]="isDetailsOpen()">
                <summary class="message-summary-material" [style.color]="getSummaryColor()">
                    <mat-icon>{{ getSummaryIconName() }}</mat-icon>
                    {{ getSummaryText() }}
                </summary>
                <div class="message-details-content-material">
                    @if(message.sender === 'system' && message.type ==='tool_request') {
                        
                        <app-chat-message-tool-request [message]="message"></app-chat-message-tool-request>
                    }
                    @else {
                        <div>
                            {{ getDetailsContent() }}
                        </div>
                    }
                </div>
            </details>
        </mat-card-content>

        <mat-card-content *ngIf="message.sender === 'ai' || message.sender === 'user'" class="message-content-material"
            [innerHTML]="getFormattedContent()">
            <!-- Content will be rendered here by [innerHTML] -->
        </mat-card-content>
    </mat-card>
</div>