<div class="message-wrapper-material" [ngClass]="message.sender">
    <mat-card [ngClass]="{
    'user-message-card': message.sender === 'user',
    'ai-message-card': message.sender === 'ai',
    'system-message-card': message.sender === 'system'
  }">
        @switch (message.type) {
            @case ('message') {
                @if (message.sender === 'user') {
                    <app-user-chat-message [message]="message"></app-user-chat-message>
                } @else if (message.sender === 'ai') {
                    <app-ai-message-chat-message [message]="message"></app-ai-message-chat-message>
                }
            }
            @case ('loading') {
                <app-loading-chat-message [message]="message"></app-loading-chat-message>
            }
            @case ('error') {
                <app-system-error-chat-message [message]="message"></app-system-error-chat-message>
            }
            @case ('tool_decision') {
                <app-tool-decision-chat-message [message]="message"></app-tool-decision-chat-message>
            }
            @case ('tool_request') {
                <app-chat-message-tool-request [message]="message"></app-chat-message-tool-request>
            }
            @case ('tool_result') {
                <app-tool-result-chat-message [message]="message"></app-tool-result-chat-message>
            }
        }
    </mat-card>
</div>