<div class="chat-area-material-wrapper"> <!-- Wrapper for overall chat area -->
  <div class="chat-header-content">
    <span class="tw:m-auto tw:pr-2">
      {{ totalTokensUsed | number:'1.0-0' }}k
    </span>
    <mat-progress-bar mode="determinate" [value]="(totalTokensUsed / inputTokenLimit) * 100" class="tw:m-auto"></mat-progress-bar>
    <span class="tw:m-auto tw:pr-2 tw:pl-2">{{ inputTokenLimit | number:'1.0-0' }}k</span>
    <app-usage-metadata-display
      [usageMetadata]="aggregatedUsageMetadata"
      [cost]="totalCost"
    ></app-usage-metadata-display>
  </div>

  <div class="chat-area-message-and-input">
    <div id="chat-messages-material" class="chat-messages-container">
      <!-- Messages will appear here, eventually using *ngFor with app-chat-message -->
      @for (message of messages; track message) {
        <app-chat-message
          [message]="message"
          [attr.data-test-id]="message.id"
        (toolResponse)="handleToolResponse($event)"></app-chat-message>
      }
    </div>

    <app-chat-input (messageSent)="handleMessageSent($event)"></app-chat-input>
  </div>
</div>